<div>
    <h2 class="fw-bold">{{ element.name }}</h2>
    <p>{{ element.description }}</p>

    <ul class="list-group mt-3">
        {% for item in element.items %}
            <li class="list-group-item">{{ item }}</li>
        {% else %}
            <li class="list-group-item text-muted">Aucun élément associé</li>
        {% endfor %}
    </ul>
</div>
