body {
    background-color: #e3e0ff;
}
header, header img{
    width: 30vw;
}

.dashboard-container{
    height: 80vh;
    max-height: 80vh;
}

.element-list-container {
    background-color: #d1ceff;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.element-list {
    flex: 1;
    padding-left: 1rem;
    padding-right: 1rem;
}
.btn-light:hover{
    opacity: 85%;
}
.element-detail {
    background-color: #d1ceff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
