/* Style général des items */
.selectable-level {
    padding: 8px 12px;
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
    transition: background 0.15s, padding-left 0.15s;
    border-radius: 4px;
}

.selectable-level:hover {
    background: #f3f3ff;
    padding-left: 16px;
}

/* Élément sélectionné */
.level-selected {
    background-color: #5b4bff !important;
    color: white !important;
    font-weight: 600;
    border-radius: 6px;
    padding-left: 16px;
}

/* Les listes scrollables */
.level-list {
    max-height: 250px;
    min-height: 250px;
    overflow-y: auto;
    background: white;
}

/* Boutons flèches */
.arrow-btn {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #220F80 !important;
    color: white;
    font-weight: bolder;
    font-size: 32px;
}

#selected-levels:empty::before {
    content: attr(data-placeholder);
    color: #999;
    font-style: italic;
    display: block;
    padding: 8px;
}
