/* === Thème violet AdapTABLES === */
.page-wrapper {
    background-color: #f3f0ff;
    min-height: 100vh;
}

.logo {
    max-height: 90px;
}

.section-card {
    background-color: #fff;
    border-radius: 1rem;
}

.section-title {
    font-weight: 600;
    color: #4b3bbd;
    font-size: 1.2rem;
    border-left: 4px solid #7a5af8;
    padding-left: .75rem;
}

.bg-violet {
    background-color: #7a5af8 !important;
}

.btn-violet {
    background-color: #7a5af8;
    color: #fff;
    border: none;
    transition: 0.2s;
}

.btn-violet:hover,
.btn-violet.btn-activated {
    background-color: #6748d4;
    color: #fff;
}

.readonly-field {
    background-color: #f8f9fa !important;
    cursor: not-allowed;
}

/*

Pop-up des entrainements

 */

.text-violet {
    color: #6a47f8 !important;
}

.training-card {
    background-color: #ffffff;
    border-radius: 1rem;
    transition: all 0.2s ease;
}

.training-card .card-body {
    padding: 1.5rem 1rem;
}

.training-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    background-color: #f6f3ff;
}

.training-card .card-title {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 0.5rem;
}

.training-card .btn-violet {
    border-radius: 0 0 1rem 1rem;
}
