.training-container {
    background: #d8d3ff;
    padding: 25px;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
}

.training-title {
    text-align: center;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
}

.training-name-input {
    width: 40%;
    margin: 0 auto 25px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.training-name-input input {
    width: 100%;
    padding: 8px 12px;
    font-size: 18px;
    border: 1px solid #aaa;
    border-radius: 5px;
    text-align: center;
    background: white;
}

.training-header {
    margin-bottom: 20px;
    padding : 8px;
}

.btn-save {
    background-color: #7a5af8;
    color: white;
    border: none;
    margin : 10px;
    padding: 8px 14px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.btn-save:hover {
    background-color: #6749d9;
}

.btn-cancel {
    background-color: #e5e5e5;
    color: #333;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.btn-cancel:hover {
    background-color: #d0d0d0;
}

