<IfModule mod_rewrite.c>
    RewriteEngine On

    # Prevent direct access to files that exist
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Redirect everything else to index.php
    RewriteRule ^ index.php [L]
</IfModule>